@font-face {
    font-family: "Source Sans Pro";
    src: url('./assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #171717;
    font-family: "Source Sans Pro",sans-serif;
    color: white;
}

 